@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  height: auto; /* Set to auto for flexible height */
  transition: height 0.3s ease; /* Smooth transition for height change */
}

.image {
  margin-bottom: 16px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  font-size: 18px;
  font-weight: 400;
  max-height: 60px; /* Initial height for collapsed state */
  overflow: hidden; /* Hide overflow in collapsed state */
  transition: max-height 0.3s ease; /* Smooth transition for height change */
}

.expanded {
  max-height: 300px; /* Height when expanded */
}

.readMoreButton {
  margin-top: 10px;
  padding: 8px 12px;
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 15px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 10px;
}

.links {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 10px;
}
